<br>
<div class="container">

<div class="card text-center">
<h3>
  <strong>Name:</strong>
  <%= @user.name %>
</h3>

<h3>
  <strong>Email:</strong>
  <%= @user.email %>
</h3>
</div>
  <br>
  <%= link_to 'Back', users_path, class:'btn btn-success col-sm-4' %>
  <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-warning float-right col-sm-4' %>

</div>