<div class="container">
  <br>
  <h1 class="text-center">New playlist</h1>
  <br>
<%= render 'form', playlist: @playlist %>
  <br>
<%= link_to 'Back', playlists_path, class: 'btn btn-success col-sm-4 float-left' %>
</div>